div.content
  div#social
    a(id="weibo" href="http://www.weibo.com/taozi55/" target="_blank")
    a(id="insta" href="http://instagram.com/li_taozi" target="_blank")
    a(id="linkedin" href="https://www.linkedin.com/pub/yingchen-li/2b/9b6/948" target="_blank")
    a(id="facebook" href="https://www.facebook.com/Ethan55" target="_blank")
    a(id="mail" href="mailto:woot.ethanli@gmail.com" target="_top")
    div(style="clear:both")
  div#copyright
    p CREATED BY ETHAN LI