ul
  li(class=(menuItem=="selfie")?"selected":"")
    a(href="/selfie/")
      div.arrow
      | SELFIE
  li(class=(menuItem=="photography")?"selected":"")
    a(href="/photography/")
      div.arrow
      | PHOTOGRAPHY
  li(class=(menuItem=="project")?"selected":"")
    a(href="/project/")
      div.arrow
      |PROJECT
  li(class=(menuItem=="blog")?"selected":"")
    a(href="/blog/")
      div.arrow
      | BLOG