ul
  li
    a(href="/selfie/") SELFIE
      div.arrow
  li(class="selected")
    a(href="/photography/") PHOTOGRAPHY
      div.arrow
  li
    a(href="/project/") PROJECT
      div.arrow
  li
    a(href="/blog/") BLOG
      div.arrow