doctype html
html
  include includes/head
  body
    div.main-container
      div.tab
        div.top
          div#logo
          div#sub-content
          div.push
        div.bottom
          div#menu
            include includes/menu
          div#footer
            //div#radio-deco
            //  div.radio
            include includes/footer
      div.frame
        div#main-content
          block content
          div.push
        div#navi
