div,
p,
h1 {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  text-align: center;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-width: 800px;
  min-height: 560px;
  text-align: left;
}
.tab {
  float: left;
  position: relative;
  z-index: 10;
  width: 220px;
  height: 100%;
  -webkit-box-shadow: 2px 0px 10px -1px #ccc;
  -moz-box-shadow: 2px 0px 10px -1px #ccc;
  box-shadow: 4px 0px 10px -1px #ccc;
}
.tab .top {
  background-color: #ededed;
  min-height: 100%;
  max-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
}
.tab .top .push {
  height: 180px;
}
.tab .bottom {
  height: 180px;
}
#logo {
  height: 50px;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-size: 200px 50px;
  background-position: right 10px top 0px;
}
#logo a#home {
  display: inline-block;
  height: 50px;
  width: 100%;
}
#sub-content ul {
  margin: 0;
  padding: 0 10px 0 0;
  text-align: right;
  list-style-type: none;
}
#sub-content ul li {
  padding: 1px 0 1px;
}
#sub-content ul li a {
  font-size: 1.5em;
  text-decoration: none;
  color: #555;
  font-family: 'Open Sans Condensed', sans-serif;
}
#sub-content ul li a .arrow {
  border-top: 3px solid #ededed;
  border-left: 27px solid #555;
  border-bottom: 3px solid #ededed;
  margin: 2px 0 2px 2px;
  display: none;
}
#sub-content ul li a:hover {
  color: #2dc9c9;
}
#sub-content ul li a:hover .arrow {
  border-top: 3px solid #ededed;
  border-left: 27px solid #2dc9c9;
  border-bottom: 3px solid #ededed;
  display: inline-block;
  margin: 2px 2px 2px 0;
}
#sub-content ul li.selected a {
  color: #2dc9c9;
}
#sub-content ul li.selected .arrow {
  border-top: 3px solid #ededed;
  border-left: 27px solid #2dc9c9;
  border-bottom: 3px solid #ededed;
  display: inline-block;
  margin: 2px 2px 2px 0;
}
#menu {
  z-index: 2;
  position: relative;
  padding: 0 10px 0 0;
}
#menu ul {
  margin: 0px;
  padding: 7px 0;
  text-align: right;
  list-style-type: none;
}
#menu ul li {
  padding: 1px 0 1px 0;
}
#menu ul li a {
  font-size: 2em;
  text-decoration: none;
  color: #555;
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu ul li a .arrow {
  border-top: 3px solid #ededed;
  border-left: 27px solid #555;
  border-bottom: 3px solid #ededed;
  margin: 2px 0 2px 2px;
  display: none;
}
#menu ul li a:hover {
  color: #1f8d8d;
}
#menu ul li a:hover .arrow {
  border-top: 3px solid #ededed;
  border-left: 27px solid #1f8d8d;
  border-bottom: 3px solid #ededed;
  display: inline-block;
  margin: 4px 2px 4px 0;
}
#menu ul li.selected a {
  color: #1f8d8d;
}
#menu ul li.selected a .arrow {
  border-top: 3px solid #ededed;
  border-left: 27px solid #1f8d8d;
  border-bottom: 3px solid #ededed;
  display: inline-block;
  margin: 4px 2px 4px 0;
}
#footer {
  position: relative;
  z-index: 1;
  height: 50px;
  background-color: #299;
}
#footer .contact {
  text-align: right;
  padding: 10px 10px 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #ededed;
}
.frame {
  margin-left: 220px;
  height: 100%;
  background-color: #bab6b4;
}
#main-content {
  background-color: #faf6f4;
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}
#main-content .push {
  height: 50px;
}
.photo-warp {
  margin: 0 auto;
  padding-top: 15px;
  width: 950px;
}
img.photo {
  width: 100%;
}
#top-navi {
  height: 50px;
}
#bottom-navi {
  height: 50px;
  background-color: #f7f7e9;
  opacity: 0.5;
}
