html,
body,
div,
p,
h1 {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  text-align: center;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 560px;
  text-align: left;
}
.tab {
  float: left;
  width: 196px;
  height: 100%;
  -webkit-box-shadow: 2px 0px 10px -1px #ccc;
  -moz-box-shadow: 2px 0px 10px -1px #ccc;
  box-shadow: 4px 0px 10px -1px #ccc;
}
.tab .top {
  background-color: #888;
  min-height: 100%;
  max-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -190px;
}
.tab .top .push {
  height: 190px;
}
.tab .bottom {
  height: 190px;
}
#logo {
  height: 50px;
  background-color: #feea99;
}
/*memu start*/
#menu ul {
  margin: 0px;
  padding: 7px 0;
  text-align: right;
  list-style-type: none;
  opacity: 1;
}
#menu ul li {
  padding: 1px 10px 1px 0;
}
#menu ul li a {
  font-size: 2em;
  text-decoration: none;
  color: #eee;
  font-family: 'Open Sans Condensed', sans-serif;
}
/*memu end*/
/*footer start*/
#footer {
  height: 60px;
  background-color: #266;
}
#footer .contact {
  text-align: right;
  padding: 16px 12px 12px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #eee;
}
/*footer end*/
.frame {
  position: relative;
  margin-left: 200px;
  height: 100%;
  background-color: #bab6b4;
}
#main-content {
  background-color: #faf6f4;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#main-content .push {
  height: 60px;
}
#navi {
  height: 60px;
  background-color: #f0f0dd;
}
