/*frame start*/
$mainNaviHeight = $bottomTabHeight

#main-content
  background-color: #FAF6F4
  width: 100%
  max-height 100%
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -($mainNaviHeight)
  .push
    height: $mainNaviHeight

.photo-warp
  margin: 0 auto
  padding-top: 15px
  width: 950px
  //max-height: 80%

img.photo
  width: 100%

#top-navi
  height: 50px

#bottom-navi
  height: $mainNaviHeight
  background-color: #F7F7E9
  opacity:0.5

/*frame end*/