/*tab start*/
$leftTabFooterHeight = $bottomTabHeight
$leftTabbottomHeight = 130px + $leftTabFooterHeight
$leftTabPaddingRight = 10px;
$leftTabBGColor = #EEE
$leftTabTextColor = #444
$leftTabMainColor = #27A5B8

left-arrow(range,style,bgc,c)
  border-top: range style bgc
  border-left: range*6 style c
  border-bottom: range style bgc
  
right-arrow(color)
  border-style: solid
  border-width: 10px
  border-color: transparent color transparent transparent
  height: 0 
  width: 0;
  font-size: 0

.tab
  .top
    background-color: $leftTabBGColor
    min-height: 100%
    max-height: 100%
    height: auto !important
    height: 100%
    margin: 0 auto -($leftTabbottomHeight)
    .push
      height: $leftTabbottomHeight
  .bottom
    height: $leftTabbottomHeight

#logo
  height: 70px
  background-image: url('/images/logo.png')
  background-repeat: no-repeat
  background-size: 180px 50px
  background-position: right $leftTabPaddingRight top 10px
  a#home
    display: inline-block
    height: 70px
    width: 100%

#sub-content
  ul
    margin: 0
    padding: 0
    text-align: right
    list-style-type: none
    li        
      a
        display:block
        width: auto
        padding: 1px 10px
        font-size: 1.8em
        //line-height: 1.5em
        text-decoration: none
        color: $leftTabTextColor
        font-family: $menuFont
        &:hover
          background-color: darken($leftTabMainColor,2%)
          color: $leftTabBGColor
      .right-arrow
        display: none
    li.selected
      a
        background-color: darken($leftTabMainColor,2%)
        color: $leftTabBGColor
        margin:0 -10px 0 10px

/*memu start*/

#menu
  z-index:2
  position: relative
  padding: 0 $leftTabPaddingRight 0 0
#menu ul
  margin: 0px
  padding: 7px 0
  text-align: right
  list-style-type: none
  li
    padding: 1px 0 1px 0
    a
      font-size: 2em
      text-decoration: none
      color: $leftTabTextColor
      font-family:$menuFont
      .arrow
        display: none
      &:hover
        color: lighten($leftTabMainColor,8%)
        .arrow
          left-arrow(3px,solid,$leftTabBGColor,lighten($leftTabMainColor,8%))
          display: inline-block
          margin: 4px 2px 4px 0

#menu ul li.selected a
  color: lighten($leftTabMainColor,8%)
  .arrow
    left-arrow(3px,solid,$leftTabBGColor,lighten($leftTabMainColor,8%))
    display: inline-block
    margin: 4px 2px 4px 0
          
/*memu end*/

/*footer start*/
#footer
  position: relative
  z-index: 1
  height: $leftTabFooterHeight
  background-color: darken($leftTabMainColor, 5%)
  .content
    padding: 5px $leftTabPaddingRight 5px

#footer a
  float: right
  display: inline-block
  width: 30px
  height:30px
  background-repeat: no-repeat
  background-size: 30px 30px
  margin:0 3px

set_social_icon(name)
  background-image: url(s('/images/icons/%s_off.png',name))
  &:hover
    background-image: url(s('/images/icons/%s_on.png',name))

#weibo
  set_social_icon(weibo)
  
#insta
  set_social_icon(insta)

#linkedin
  set_social_icon(linkedin)

#facebook
  set_social_icon(facebook)

#mail
  set_social_icon(mail)

#copyright
  margin-top: 5px
  padding-top: 2px
  clear: both
  text-align: right
  font-family: $menuFont
  font-size: 1.2em
  line-height: 1em
  color: #FFF
  border-top:solid 1px
/*footer end*/
/*tab end*/

/*
#radio-deco
  position: absolute
  top: -50px
  display: inline-block
  background-color: $leftTabMainColor
  width:($rightTabWidth - 4px)
  height:50px
  .radio
    display: inline-block
    background-color: $leftTabBGColor
    width:($rightTabWidth - 4px)
    height:50px
    border-radius: 0 0 0 80px/0 0 0 50px;
*/